# Node
node_modules/
.pnpm-store/
dist/
build/

# Env
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.vscode/
.idea/
.DS_Store

# Prisma
bot/prisma/bot/prisma/*.db
bot/prisma/bot/prisma/*.db-journal
*.db